<a href="https://colab.research.google.com/github/mrd249/BTE-320-/blob/main/In_Class_Assignment_Notebook_Michael_Dean_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
radius = float(input('Enter radius:'))
height = float(input('Enter height:'))

area = (2 * pi * (radius ** 2)) + (2 * pi * radius * height)

print(f'Area of cylinder: {area} sq. ft')

Enter radius:5
Enter height:7
Area of cylinder: 376.8 sq. ft

In [ ]:
n1 = float(input('Enter number 1:'))
n2 = float(input('Enter number 2:'))
op = input('Enter operator:')

if op == '+':
    res = n1 + n2
elif op == '-':
    res = n1 - n2
elif op == '*':
    res = n1 * n2
elif op == '/':
    res = n1 / n2
elif op == '//':
  res = n1 // n2
elif op == '**':
  res = n1 ** n2
elif op == '%':
  res = n1 % n2
else:
    print('Invalid operator')

print(f'{n1} {op} {n2} = {res}')

Enter number 1:6
Enter number 2:8
Enter operator://
6.0 // 8.0 = 0.0

In [ ]:
for numberHours in range(1, 9):
    fee = 5 + 2.5 * numberHours
    if fee < 10:
        fee = 10.0
    elif fee > 20:
        fee = 20.0
    print(numberHours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math
print('Ad $\tProfit')
for adMoney in range(0, 201, 25):
  revenue = (20 + 2 * round(math.sqrt(adMoney))) * 10 # instead of adMoney ** 0.5
  costs = 200 + adMoney
  profit = revenue - costs
  print(adMoney, '\t', profit)

Ad $	Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80

In [ ]:
num = 9

while num > 0:
  num = num -1
  if num ==5:
    continue
  print(num)
print('End.')

8
7
6
4
3
2
1
0
End.

Rock Paper Scissors In Class Assignment

In [ ]:

i = input('do you want to play yes or no:')
while i == 'yes':
  p1= input('player 1 :: (r->rock, p->paper, or s->scissor)')
  p2= input('player 2 :: (r->rock, p->paper, or s->scissor)')

  if p1==p2:
    print('draw')

  elif p1=='r' and p2=='s':
    print('p1 wins')

  elif p1=='s' and p2 =='p':
    print('p1 wins')

  elif p1=='p' and p2 =='r':
    print('p1 wins')

  else:
    print('p2 wins')

  i = input('do you want to play yes or no:')

do you want to play yes or no:yes
player 1 :: (r->rock, p->paper, or s->scissor)rock
player 2 :: (r->rock, p->paper, or s->scissor)paper
p2 wins
do you want to play yes or no:no

In [ ]:
list = []

num = float(input('Give a number:'))

while num != 0.0:
  list.append(num)
  num = float(input('Give a number:'))
list.sort(reverse=True)
list

Give a number:5
Give a number:4
Give a number:9
Give a number:2
Give a number:6
Give a number:0

[9.0, 6.0, 5.0, 4.0, 2.0]

In [ ]:
months = {
    'Jan': 1,
    'Feb': 2,
    'Mar': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'Aug': 8,
    'Sept': 9,
    'Oct': 10,
    'Nov': 11,
    'Dec': 12
}

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

cntr = 0
for num in numbers:
  months[num] = names[cntr]
  cntr += 1
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'June',
 7: 'July',
 8: 'Aug',
 9: 'Sept',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
counts = {}

while len(counts) < 5:
  key = input("Give a string:")

  if key not in counts:
    counts[key] = 1
  else:
    counts[key] = counts[key] + 1
  counts

Give a string:a
Give a string:a
Give a string:b
Give a string:b
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:c
Give a string:d

Second Parking Garage Problem

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(f'Fee: ${fee}')

def main():
  numHours = int(input('Enter number of hours: '))
  calcFee(numHours)

if __name__ == '__main__':
  main()

Enter number of hours: 7
Fee: $20.0

Recursive Function

In [ ]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    return s[-1] + reverse(s[1:-1]) + s[0]
reverse('Hello')

'olleH'

In [ ]:
def linear_search(arr, target):
  for item in arr:
    if item == target:
      return item

  return -1
linear_search([1,4,2,6],8)

-1

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5 * hours
  if fee < 10:
    fee = 10.0
  elif fee > 20:
    fee = 20.0
  print(f'Fee: ${fee}')

def main():
  try:
    numHours = int(input('Enter number of hours: '))
    calcFee(numHours)
  except ValueError:
    print('Invalid input')

if __name__ == '__main__':
  main()

Enter number of hours: 5.2
Invalid input

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last

  def display(self):
    print(f'Hi {self.first}')

greeting = Greeting('Donald', 'Becker')
greeting.display()

Hi Donald

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last
  def display(self, formal=False):
    if formal == True:
      print(f'Hello {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')

greeting = Greeting('Donald', 'Becker')
greeting.display(formal=True)

Hello Donald Becker

In [ ]:
class Greeting:
  def __init__(self, first, last):
    self.first = first
    self.last = last
  def display(self, formal=False):
    if formal == True:
      print(f'Hello {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')


  def __str__(self):
    return str(self.first) + ", " + str(self.last)
    return "{}, {}".format(self.first, self.last)
    return f'{self.first}, {self.last}'

greeting = Greeting('Donald', 'Becker')
s = Greeting('Bob', 'Dylan')
greeting.display(formal=True)
print(greeting)
print(s)

Hello Donald Becker
Donald, Becker
Bob, Dylan

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

s1 = Student('Bob', 100)
s2 = Student('Alice', 101)
s1.name, s2.name

('Bob', 'Alice')

In [1]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def __len__(self):
    return len(self.courses)

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print(f'You have already enrolled in {course}.')

  def get_courses(self):
    return self.courses

s1 = Student('Bob', 100)
s2 = Student('Alice', 101)
s1.name, s2.name

('Bob', 'Alice')

In [2]:
s1.enroll('BTE320')

In [3]:
s1.enroll('BTE422')

In [4]:
s1.courses

['BTE320', 'BTE422']

In [5]:
len(s1)

2

In [ ]:
s1.get_courses()

['BTE320', 'BTE422']